@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Balsamiq+Sans:wght@700&display=swap');
span{
    color: red;

}
.container{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
}
h1,h4{
    text-align: center;
}
h4{
    font-family:'Bad Script', cursive;
}
.fieldset{
    width: 700px;
}
input{
    margin-bottom: 0.3cm;
    margin-left: 3cm;
}
.www{
	word-spacing: 9999px;
    color: black;
}

label{
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}
option {
    text-align : center;
}
select{
    width:170px;
}  
select, textarea{
    text-align : center;
    margin-bottom: 0.3cm;
    margin-left: 3cm;
}

label.checkbox{
    display:contents;

}
legend{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700px;
}
fieldset.main{
    border: black solid 4px ;
}